nav {
    background-color: grey;
}
.center {
    text-align: center;
}
ul {
    padding: 10px;
    list-style-type: none;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
}

.image-link {
    text-decoration: none;
    color: inherit;
}

.image-container {
    position: relative;
    width: 100%;
    height: 500px;   
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.image-container:hover img{
    transform: scale(1.05);
}

.image-text {
    position: absolute;
    top: 50%;            
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0 0 10px black; 
}

ul li a {
    display: block;
    color: rgb(68, 67, 67);
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #ffffff;
}
body {
    font-family: "Times New Roman", Times, serif;
    font-size: x-large;
    background-color: #443f3f;
    color: #fcfcfc;
    margin: 0;   
}

footer {
      background: #4e4e4e;
      padding: 20px;
      justify-content: center;
      display: flex;
      text-align: center;
  }

.footer-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-buttons button {
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #333;
    color: white;
    transition: 0.2s;
}

.footer-buttons button:hover {
    background: #555;
}


form {
    background: #686363;
    padding: 2%;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 30px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    max-width: 400px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button, input[type="submit"] {
    background-color: #313030;
    color: rgb(158, 158, 158);
    border: none;
    padding: 10px 14px;
    border-radius: 4px;
    cursor: pointer;
}
#p2 {
    display: inline;
}

button:hover, input[type="submit"]:hover {
    background-color: #000000;
}