nav {
    background-color: grey;
}
.center {
    text-align: center;
}
ul {
    padding: 10px;
    list-style-type: none;
    background-color: #ffc549;
    background-color: #ffc549;
    display: flex;
    justify-content: center;
}

.image-link {
    text-decoration: none;    /* no underline */
    color: inherit;
}

.image-container {
    position: relative;
    width: 100%;
    height: 500px;   
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.image-container:hover img{
    transform: scale(1.05);
}

.image-text {
    position: absolute;
    top: 50%;            
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0 0 10px black; 
}

ul li a {
    display: block;
    color: rgb(68, 67, 67);
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #ffffff;
}
body {
    font-family: "Times New Roman", Times, serif;
    font-size: larger;
    background-color: #443f3f;
    color: #fcfcfc;
    margin: 0;   
}

