

.text-block {
    background-color: darkgrey;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;     /* two equal columns */
    gap: 20px;
}

.grid-container img {
    width: 95%;
    height: auto;
    border-radius: 5px;
}

@media (max-width: 700px) {
    .grid-container {
        grid-template-columns: 1fr;     /* stack on small screens */
        text-align: center;
    }
}
